body {
  font-family: Inter, Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.md-footer__inner {
  justify-content: space-between;
}

.md-footer__inner::after {
  color: var(--md-default-fg-color--light);
  content: "© 2026 P&T Digital Docs";
  font-size: 0.78rem;
}
